<!-- header -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/home">
            <img src="/images/logo.jpg" alt="Logo" style="width:40px;" class="rounded-pill">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shared-generated-data">Shared generated data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- body -->
<div class="imformation">
    <div id="top-imformation">
        <p></p>
        <h1>About</h1>
        <h3>Nhóm 6</h3>
        <p>1/ Nguyễn Hoàng Tín<br>Lớp: D18_TH03<br>MSSV: DH51801268</p>
        <p>2/ Nguyễn Xuân Thanh Sang<br>Lớp: D18_TH03<br>MSSV: DH51800965</p>
        <p>3/ Nguyễn Đòan Gia Thuận<br>Lớp: D18_TH03<br>MSSV: DH51800964</p>
        <p>4/ Ngô Đình Khang<br>Lớp: D18_TH04<br>MSSV: DH51800131</p>
        <p>5/ Hoàng Trung Nam<br>Lớp: D18_TH04<br>MSSV: DH51800992</p>
        <p>4/ Nguyễn Trần Tuấn Huy<br>Lớp: D18_TH04<br>MSSV: DH51800124</p>
    </div>
</div>