#page-title {
    text-align: center;
}

div.main-wrapper {
    border: 2px solid black;
    border-radius: 4px;
    position: relative;
}

div.main-wrapper span.label-wrapper {
    position: absolute;
    left: 1em;
    top: -1.5em;
    background-color: white;
    padding: 5px 10px;
}

div.main-wrapper div#database-info div{
    display: inline-block;
    margin: 30px 100px;
}

input[type="text"], select {
    border-radius: 5px;
    height: 30px;
}

select {
    width: 100px;
}

div.main-wrapper div.sub-wrapper {
    border-top: 2px solid black;
    position: relative;
}

div.main-wrapper div.sub-wrapper div.pre-fields div{
    display: inline-block;
    margin: 30px 100px 20px;
}

button.btn {
    height: 30px;
    padding: 0 10px;
}

.space-x {
    margin-left: 5px;
    margin-right: 5px;
}

.space-y {
    margin-top: 5px;
    margin-bottom: 5px;
}

.crollable-x {
    overflow-x: auto;
    white-space: nowrap;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }